@font-face {
font-family: 'nu';
  src: url('https://pinkromeo18.github.io/x256/NuKinakoMochiFwCt-Reg.otf') format('opentype');
}
/*
body{
  background:#224;
  margin:60px;
}
*/

:root{
  --gain:2;
  --font-size:10px; 
  --font-family:nu,monospace;
}

*{box-sizing:border-box;}
.x256{
  padding:3px;/**/
  width:256px;
  height:256px;
  color:white;
  background:black;
  font-size:var(--font-size);
  font-family:var(--font-family);
  position:relative;
  transform:scale( var(--gain) );
  transform-origin: left top;
  line-height:1;
}

.x256-child{
  white-space:pre-wrap;
  position:absolute;
  top:3px;left:3px;
}
